
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


header{
  background-image: url(imagem\ header.jpg);
    background-size: cover; 
    background-position: center; 
    padding: 50px 20px; 
    color: white; 
    text-align: center;
    font-size: 27px;
    border-radius: 7px;
   }

   header p{
    font-size: 21px;
   }

   .botao{
    background-color: rgb(186, 213, 236);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
   }
   body{
    background-color: rgb(240, 240, 200);
   }

   a{
    color: #ffff;
   }

   a:hover{
    color: #191970
   }

   img{
    width: 595px;
    border-radius: 7px;
   }

   .conteudo-central{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 40px;
   }

   .texto{
    max-width: 500px;
   }

   .texto h2{
    margin-top: 0;
    font-style: 'Playfair Display';
   }