@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


header{
  background-image: url(imagem\ header.jpg);
    background-size: cover; 
    background-position: center; 
    padding: 50px 20px; 
    color: white; 
    text-align: center;
    font-size: 27px;
    border-radius: 7px;
    font-family: 'Playfair Display', serif;
   }

   .botao{
    background-color: rgb(213, 227, 240);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
   }
   body{
    background-color: rgb(240, 240, 200);
   }