header{
   background-image: url(imagem\ header.jpg); 
    background-size: cover; 
    background-position: center; 
    padding: 50px 20px; 
    color: white; 
    text-align: center; }

    button, .botao{
        background-color: #4CAF50; 
    color: white;  
    border-radius: 10%;  
    padding: 15px 32px;  
    text-align: center; 
    text-decoration: none;  
    display: inline-block;  
    font-size: 16px;  
    margin: 4px 2px;  
    cursor: pointer;  
    border-radius: 8px;  
    transition: background-color 0.3s ease;  
    }